@media screen and (max-width: 600px) {
    .section {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        min-height: 100vh;
        width: 100vw;
        padding: 1rem;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        border-bottom: 1px solid #FFFFFF;
    }

    .h1 {
        font-family: Dream Avenue;
        font-size: 10vw;
        font-weight: 100;
        font-kerning: auto;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .p {
        font-family: HK Grotesk;
        font-style: light;
        font-size: 1rem;
        font-weight: 100;
        line-height: 2;
        color: #FFFFFF;
    }

    .italic {
        font-family: HK Grotesk;
        font-size: 1rem;
        font-weight: 100;
        line-height: 2;
        color: #FFFFFF;
        font-style: italic;
        margin-right: 1rem;
        text-decoration: none;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 600px) {
    .section {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        min-height: 100vh;
        width: 100vw;
        padding: 3rem 7.5rem;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        border-bottom: 1px solid #FFFFFF;
    }

    .h1 {
        font-family: Dream Avenue;
        font-size: 7.5rem;
        font-weight: 100;
        font-kerning: auto;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 3rem;
    }

    .p {
        font-family: HK Grotesk;
        font-style: light;
        font-size: 1.5rem;
        font-weight: 100;
        line-height: 2;
        color: #FFFFFF;
        width: 50vw;
        align-self: center;
    }

    .italic {
        font-family: HK Grotesk;
        font-size: 1.5rem;
        font-weight: 100;
        line-height: 2;
        color: #FFFFFF;
        font-style: italic;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.backgroundImage {
    height: 100vh;
    width: auto;
    z-index: -1;
}