.section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    /* background-color: black; */
}

.section h1 {
    font-family: 'Dream Avenue';
    font-size: 7rem;
    font-weight: 100;
    font-kerning: auto;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section p {
    font-family: 'HK Grotesk';
    font-size: 1.5rem;
    font-weight: 100;
    color: #FFFFFF;
}