.container {
    width: 100vw;
    height: 100px;

    font-family: 'HK Grotesk';
    font-size: 1rem;
    font-weight: 100;
    color: #F1E3C9;

    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 2rem 5rem;

    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.a {
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #F1E3C9;
}

.icon { 
    width: 2rem;
    height: 2rem;
}