.container {
    display: flex;
    flex-direction: row;
    margin-top: 0;

    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 100px;

    font-family: 'HK Grotesk';
    font-size: 1rem;
    font-weight: 100;
    color: #F1E3C9;

    position: absolute;
    padding: 2rem 5rem;
}

.a {
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    color: #F1E3C9;
    text-decoration: none !important;
}

.a:link { text-decoration: none !important;}


.icon { 
    width: 2rem;
    height: 2rem;
}