@media screen and (min-width: 600px) {
    .container {
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-x: auto;
    }

    .h1 {
        color: #FFFFFF;
        font-family: Dream Avenue;
        font-size: 3rem;
        font-weight: 100;
        font-kerning: auto;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 100vw;
        margin-top: 3rem;
        text-align: center;
    }


    .test_certificate {
        height: 75vh;
        width: auto;
        object-fit: cover;
        margin: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 90vw;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-x: auto;
        align-self: center;
    }

    .h1 {
        color: #FFFFFF;
        font-family: Dream Avenue;
        font-size: 3rem;
        font-weight: 100;
        font-kerning: auto;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 100vw;
        margin-top: 3rem;
        text-align: center;
    }

    .test_certificate {
        width: 95vw;
        object-fit: cover;
        margin: 2rem;
    }
}