.container {
    width:100vw;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.container::-webkit-scrollbar{
    display: none;
}

.certificate {
    width: 300px;
    height: 300px;
    flex: 0 0 auto;
    border-radius: 10%;
    margin: 0 2rem 1rem 2rem;
}