.image_large {
    width: 50vw;
    border-radius: 10px;
    margin: 2rem;
    float: left;
}

.image_medium {
    width: 35vw;
    border-radius: 10px;
    margin: 2rem;
    float: left;
}

.image_small {
    width: 20vw;
    border-radius: 10px;
    margin: 2rem;
    float: left;
}

.h1 { font-weight: 600; margin: 2rem; color: #F1E3C9; font-size: 3rem; }
.h2 { font-weight: 400; margin: 2rem; color: #F1E3C9; font-size: 2.5rem; }
.h3 { font-weight: 200; margin: 2rem; color: #F1E3C9; font-size: 2rem; }

.p  { font-weight: 100; margin: 2rem; color: #FFFFFF; font-size: 1.25rem; font-family: 'HK Grotesk'; line-height: 150%;}

.text_center { text-align: center; }
.text_right { text-align: right; }
.text_left { text-align: left; }

.align_center { display: flex; justify-content: center !important; text-align: center; }
.align_right { display: flex; justify-content: flex-end !important; text-align: right; }
.align_left { display: flex; justify-content: flex-start !important; text-align: left; }

.row { display: flex; flex-direction: row; align-items: center; justify-content: flex-start;}
.column { display: flex; flex-direction: column; justify-content: inherit; }